<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZoombieDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD5303291FF5E1EB00C69179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5303411FF5E1EB00C69179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD53034C1FF5E1EB00C69179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
